{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h2 class="ui header">Lista de Hashtags</h2>

    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="ui {{ message.tags }} message" {% else %} class="ui message" {% endif %}>
                <div class="header">{{ message }}</div>
            </div>
        {% endfor %}
    {% endif %}

    <form class="ui form" method="post" action="{% url 'hashtag-create' %}">
        {% csrf_token %}
        <div class="inline fields">
            <div class="field">
                <label>Cadastrar hashtags</label>
                <input type="text" name="nome" placeholder="Hashtag">
            </div>
            <div class="field">
                <button class="ui positive basic button" type="submit">Cadastrar</button>
            </div>
        </div>
    </form>

    <ul class="ui middle aligned divided list">
        {% for hashtag in object_list %}
            <li class="item">
                <div class="right floated content">
                    <a class="ui negative basic button confirm-delete" href="{% url 'hashtag-delete' hashtag.id %}">Excluir</a>
                </div>
                <div class="content">{{ hashtag.nome }}</div>
            </li>
        {% endfor %}
    </ul>

    {% include "pagination.html" %}
{% endblock %}