{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h2 class="ui header">Lista de Tweets</h2>

    <form class="ui form" method="get">
        <div class="inline fields">
            <div class="field">
                <label>Filtrar tweets</label>
                <input type="text" name="hashtag" placeholder="Hashtag">
            </div>
            <div class="field">
               <button class="ui primary basic button" type="submit">Filtrar</button>
            </div>
        </div>
    </form>

    {% if not object_list %}
        <div class="ui message">
            <p>Sem tweets para essa hashtag</p>
        </div>
    {% endif %}

    <ul class="ui list">
        {% for tweet in object_list %}
        <li class="item">
            <i class="twitter icon"></i>
            <div class="content">
              <p class="header">{{ tweet.usuario }} | {{ tweet.data_pub }}</p>
              <div class="description">{{ tweet.texto }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>

{% include "pagination.html" %}
{% endblock %}
