<!DOCTYPE html>
<html lang="">
{% load static %}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title> Follower </title>
    <link rel="stylesheet" type="text/css" href='{% static "semantic/semantic.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/estilo.css" %}'>
</head>
<header>
    <div class="ui inverted segment">
      <div class="ui inverted secondary pointing menu">
        <a class="active item" href="{% url 'home'%}">Follower</a>
        <a class="item right floated" href="{% url 'tweet-list'%}">Listar Tweets</a>
        <a class="item floated" href="{% url 'hashtag-list'%}"> Gerenciar Hashtags</a>
      </div>
    </div>
</header>
<body>
<article class="ui container">
    {% block content %}
    {% endblock %}
</article>

<footer class="ui black inverted vertical footer relaxed segment">
    <div class="ui five column middle aligned centered inverted divided stackable grid">
        <div class="two wide column">
            <h2 class="ui inverted icon header">
                <i class="icon twitter"></i>
            </h2>
        </div>
        <div class="three wide column">
            <div class="ui divided celled relaxed inverted">
                <div class="item">
                    <a href="https://github.com/lopeslarissa" target="_blank">
                        <i class="ui github icon"></i>lopeslarissa
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
