{% load tags %}

{% if is_paginated %}
    <div class="ui center aligned container">
        <div class="ui pagination menu">
            {% if page_obj.has_previous %}
                <a class="item" href="?{% get_param page=page_obj.previous_page_number %}">Anterior</a>
            {% endif %}
            <a class="active item">{{ page_obj.number }}</a>
            {% if page_obj.has_next %}
                <a class="item" href="?{% get_param page=page_obj.next_page_number %}">Próximo</a>
            {% endif %}
        </div>
    </div>
{% endif %}
